*{
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


body{

    margin:0;
    background:#f3f4f6;
    color:#222;

}



.box{

    max-width:420px;

    margin:60px auto;

    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:0 3px 10px #ccc;

    text-align:center;

}



h1{

    font-size:48px;

    margin:0;

    color:#1976d2;

}



input{

    width:100%;

    padding:12px;

    margin:7px 0;

    border-radius:8px;

    border:1px solid #ccc;

    font-size:16px;

}



button{

    width:100%;

    padding:12px;

    margin:5px 0;

    border:0;

    border-radius:10px;

    background:#1976d2;

    color:white;

    font-size:16px;

}



button:active{

    transform:scale(.98);

}




header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:10px;

}



header button{

    width:auto;

    padding:8px 15px;

}



.menu{

    display:flex;

    gap:5px;

    padding:5px;

}



.menu button{

    font-size:14px;

}





section{

    padding:15px;

}




.customer{

    background:white;

    padding:15px;

    margin:10px 0;

    border-radius:12px;

    box-shadow:0 2px 6px #ddd;

}



.customer button{

    font-size:14px;

}





.red{

    border-left:6px solid red;

}



.green{

    border-left:6px solid green;

}



.yellow{

    border-left:6px solid orange;

}





.info{

    background:white;

    padding:15px;

    margin:10px 0;

    border-radius:12px;

}




.hidden{

    display:none;

}
.customer.paid{
    background:#b7ffb7;
}

.customer.unpaid{
    background:#ffb7b7;
}

.customer.done{
    background:#fff2a8;
}
